*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.float-right{
    float:right;
}
.float-left{
    float:left;
}
.clearfix{
    clear:both;
}
.text-center{
    text-align: center
}

body{
    direction:ltr;
    font-family: 'cairo', sans-serif;
	min-height: 2000px
}





/* header*/
.header{
	min-height: 100px;
	background-color: #232020;

}

.header span i{
	font-size: 80px;
	color: snow;
	margin-left: 80px;
}

.header h2{
	color: whitesmoke;
	margin-left: 20px;
	margin-top: 36px
	
}

/* fullscreen overlay navigation */

.fullpageMenu{
    position: fixed;
    top:-100%;
    left:0;
    width:100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background: #272121;
    transition: .5s;
}

.fullpageMenu.active{
	
	top:0;
	z-index:2
	
}

.fullpageMenu .banner{
    position: relative;
    min-width: 600px;
    height: 100%
}


.fullpageMenu .banner img{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.fullpageMenu .nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: auto
}


.fullpageMenu .nav ul {
    position: relative
}


.fullpageMenu .nav ul li{
    position: relative;
    list-style: none;
    padding: 0 20px;
    margin: 5px 0;
    overflow: hidden;
    display: table;
}

.fullpageMenu .nav ul li a{
    position: relative;
    color: #f4f4f4;
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    line-height: 1em;
    padding-top: 12px;
    display: inline-block;
    transition: 1s ease-in-out;
}


.fullpageMenu .nav ul li a:before{
    content: att(data-text);
    position: absolute;
    bottom: 100%;
    left:0;
    color:#f4f4f4;
}


.fullpageMenu .nav ul li:hover a{
    transform: translateY(-100%);
    color: #ff7315
}

.fullpageMenu .nav ul li :before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: #ff7315;
    transition: transform 10s ease-in-out;
    transform: scaleY(0);
    transform-origin: bottom
}

.fullpageMenu .nav ul li:hover :before{
    transition: transform 10s ease-in-out;
    transform: scaleY(1);
    transform-origin: top
    
}

.menuicon{
    position: fixed;
    top:20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background: transparent url(../images/18.png);
    background-size: 40px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 10px;
        
}

.menuicon.active{
    background: #232020 url(../images/18.png);
	background-size: 40px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 10px;
    z-index:3
}



@media(max-width:991px){
    .banner{
        display: none
    }
}

@media(max-width:767px){
	
	.banner{
        display: none
    }
}

@media(min-width:768px){
	
	.banner{
        display: none
    }
}


/* end header*/



/* intro about us */

.banner{
	width:100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center
}

.banner video{
	position:absolute;
	top:98px;
	left:0;
	bottom:0px;
	object-fit: cover;
	width:100%;
	pointer-events: none;
	height:700px;
}


.banner .content{
	position: relative;
	z-index: 1;
	max-width: 1000px;
	margin: 0 auto;
	text-align: center
}


.banner .content h1{
	margin: 100px;
	padding: 0;
	color:#340458;
	text-transform: uppercase;
	font-size: 4.5em;
		
}


.banner .content p{
	font-size: 30px;
	color:#010a43;
	font-weight: bold;
	line-height: 60px
}




/*  about us */

.about-us{
	margin-top: 400px
	
}
.about-us h2 {
	
	margin-top: 20px;
	color: #020A34;
	
}

.about-us h3
{
	color: #020A34;
}

.about-us h6{
	color: #020A34;
}

.about-us  article{
	width: 50%;
	margin-top: 20px;
	padding: 30px;
	font-size: 20px;
	color: #061E94;
    line-height: 40px
}

.about-us img {
	margin-right: 30px;
	margin-top: 10px;
	width: 500px;
	height: 400px;
	border-radius:155px;
}
@media(max-width:767px){
	.about-us  article{
		width: 100%
	}
	.about-us img{
		margin-left: 30px;
		margin-right: 20px
	}
	
}



 /*more info*/


.container {
	display:flex;
	margin-bottom: 50px;
	margin-top: 50px;
	width:100%;
	background: linear-gradient(#ff7315,#3a3535)
	
}
.counter-section{
	
	color:#D4D9F2;
}


.img-box img{
	width: 200px;
	height: 200px;
	margin-bottom: 50px;
	margin-top: 40px;
	margin-right: 30px;
	margin-left: 60px;
	
}


.counter-box{
	font-size:40px;
	
	
}

.counter-box .counter{
	font-size:40px;
}

@media(min-width:992px){
	.container{
		max-width:100%
	}
}
/* end more info*/





/* start learning*/

.start{
	width: 20%;
	height: 500px;
	display: inline-block;
	margin-left: 30px;
	margin-right: 20px;
	border:1px solid #B9BDD4;
	padding: 10px;
	margin-top: 20px;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #8B93BB;
	transition: all .5s ease-in-out
}

.start:hover{
	transform: translateY(-10%)
}

.start img{
	width:70px;
	height: 70px;
	margin: 30px;
}

.start h3 {
	font-size: 30px;
	color:#04104F;
}

.start p{
	font-size:15px;
	color:#6176E0;
	line-height: 40px;
}

@media(max-width:767px){
	.start{
		width: 100%;
		display: block;
		height:300px;
	}
}
/* end start learning*/





/* teacher slider*/

.teachers{
	position:absolute;
	width: 100%;
	height: 100vh;
	display: flex;
	border:2px solid #f4f4f4;
	margin-bottom: 100px;
}
.teachers h2{
	margin: 20px;
	
}
.teachers .slide{
	position: relative;
	background: green;
	height: 100%;
	flex:1;
	border-right: 2px solid #f4f4f4;
	overflow: hidden;
	transition: .5s ease-in-out;
}

.teachers .slide:hover{
	flex-grow: 5;
}

.teachers .slide:last-child{
	border-right: none;
}


.teachers .slide .content{
	position: absolute;
	bottom: 0;
	margin:40px;
	padding: 30px;
	background:rgba(0, 1, 6 ,.5);
	color:#fff;
	visibility: hidden;
	opacity:0;
	transition: .5s;
	transform: translateY(100px)
		
}



.teachers .slide:hover .content{
	
	visibility: visible;
	opacity: 1;
	transition:.5s;
	transform: translateY(0);
	transition-delay: 1s
	
}


.teachers .slide:nth-child(1){
	background: url(../images/43.jpg);
	background-position: center;
}



.teachers .slide:nth-child(2){
	background: url(../images/42.jpg);
	background-position: center;
}



.teachers .slide:nth-child(3){
	background: url(../images/47.jpg);
	background-position: center;
}



.teachers .slide:nth-child(4){
	background: url(../images/46.jpg);
	background-position: center;
}



.title h2{
	font-size:30px;
	margin:20px;
	margin-top: 50px;
	color:#041153
}

.title p{
	font-size:20px;
	color:#ff7315;
	margin: 30px;
	
}
/*end best teachers*/


/* stuents*/


.testmon h2{
	margin-top: 750px;
	text-align: center;
	color: coral
}

.student{
	margin-top:20px;
	margin-bottom: 50px;
	display: inline-block;
	width:20%;
	height: 500px;
	margin-left: 30px;
	margin-right: 20px;
	border: 1px solid #F7CDAE;
	border-radius: 30px;
	box-shadow: 4px 4px 4px #D89E73;
	transition: all 1s ease-in-out;
	
}


.student:hover{
	transform: translateY(10%)
}

.student img{
	width: 150px;
	height: 150px;
	border-radius: 50%;;
	margin:20px;
	justify-content: center;
	align-items: center;
	margin-left: 50px
}


.student p{
	
	font-size:25px;
	color:black;
	text-align: center
}

@media(max-width:767px){
	.student{
		width:100%;
		display: block;
		height:250px
	}
	
	.student img{
		width: 100px;
		height: 100px;
	}
	.student p{
		font-size: 20px;
		color:blue
	}
}
/* end stuents*/





/*footer*/

.footer{
	
	display: inline-block;
	margin-top:50px 
}

.footer h3{
	text-align: center;
	color: darkblue;
	font-weight: bold
}

.footer img{
	
	width:200px;
	height: 200px;
	margin: 30px;
	border-radius: 50%;
	box-shadow: 4px 4px 4px #E3DBD5;
	transition: all 1s ease-in-out;
}


.footer img:hover{
	
	transform: rotate(360deg)
}


.footer h4{
	text-align: center;
	font-size: 15px;
}